# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react-messaging-app/node_modules
/react-messaging-app/.pnp
/react-messaging-app/.pnp.js

# testing
/react-messaging-app/coverage

# production
/react-messaging-app/build

# misc
/react-messaging-app/.DS_Store
/react-messaging-app/.env.local
/react-messaging-app/.env.development.local
/react-messaging-app/.env.test.local
/react-messaging-app/.env.production.local

/react-messaging-app/npm-debug.log*
/react-messaging-app/yarn-debug.log*
/react-messaging-app/yarn-error.log*
